.button{
  border-radius: 14px;
  background: #696CFF;
  padding: 1rem 2rem;
  border: none;
  color: #fff;
  border: 1px solid #696CFF;
  cursor: pointer;
} 
.button:hover{ 
  background: #191C7D; 
  border: 1px solid #696CFF;
}
.button.red{
  border: 1px solid #ff0000;
  background: #ff0000;
}
.button.red:hover{
  border: 1px solid #ff0000;
  background: #850000d2;
}
.button.green{
  border: 1px solid #00da62;
  background: #00da62;
}

.button.green:hover{
  border: 1px solid #00da62;
  background: #005e2a;
}
